.primaryBtn-1 {
  cursor: pointer;
  padding: 0px 25px;
  margin-right: 10px;
  display: flex;
  align-items: center !important;
  font-weight: bold;
  border: 1px solid #fe8d1b !important;
  color: #fe8d1b !important;
}

.primaryBtn-2 {
  cursor: pointer;
  padding: 0px 25px;
  margin-right: 10px;
  display: flex;
  align-items: center !important;
  background: #fe8d1b !important;
  border-color: unset !important;
  color: #ffffff !important;
}

.primaryColor {
  color: #fe8d1b !important;
}

.ant-btn {
  display: inline-block !important;
}

@media screen and (max-width: 600px) {
  .formHolder {
    width: auto !important;
  }
}
